html {
  font-size: 10px;
  font-family: Arial, Helvetica, sans-serif;
}

body {
  font-size: 2rem;
}

* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.header {
  font-size: 1.5rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  background-color: black;
  color: white;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

@media (min-width: 768px) {
  .header {
    -ms-flex-wrap: nowrap;
        flex-wrap: nowrap;
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: flex-end;
  }
}

.header__customer {
  -ms-flex-preferred-size: 100%;
      flex-basis: 100%;
  text-transform: uppercase;
  background-color: white;
  color: #838383;
  text-align: center;
  padding: 20px 0;
  font-size: 1.5rem;
}

@media (min-width: 768px) {
  .header__customer {
    font-size: 1.4rem;
    background-color: black;
    color: white;
    margin: 0 auto 0 5vw;
    -ms-flex-preferred-size: 30%;
        flex-basis: 30%;
    text-align: left;
  }
}

.header__currency {
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  max-width: 70px;
  border-left: 1px solid #838383;
}

.header__currency select {
  background-color: transparent;
  color: white;
  border: none;
  font-size: 1.4rem;
}

.header__currency select option {
  background-color: black;
  color: white;
}

.header__myaccount {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-preferred-size: 65%;
      flex-basis: 65%;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 16px 0;
  border-left: 1px solid #838383;
  border-right: 1px solid #838383;
}

@media (min-width: 768px) {
  .header__myaccount {
    padding: 0;
    -ms-flex-preferred-size: 25%;
        flex-basis: 25%;
    max-width: 200px;
  }
}

.header__myaccount p {
  margin-left: 15px;
  text-transform: uppercase;
}

.header__myaccount svg {
  -webkit-transform: scale(0.7);
          transform: scale(0.7);
}

.header__search {
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media (min-width: 768px) {
  .header__search {
    max-width: 50px;
    margin-right: 5vw;
    border-right: 1px solid #838383;
  }
}

.header__search svg {
  -webkit-transform: scale(0.6);
          transform: scale(0.6);
}

.header__search input {
  display: none;
  -ms-flex-preferred-size: 80%;
      flex-basis: 80%;
  padding: 5px;
}

.navigation {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: stretch;
      -ms-flex-align: stretch;
          align-items: stretch;
  margin: 0 auto;
  width: 95%;
}

.navigation__menu {
  width: 100%;
  -webkit-box-ordinal-group: 3;
      -ms-flex-order: 2;
          order: 2;
  background-color: #FD926D;
  overflow: hidden;
}

.navigation__hamburger {
  height: 60px;
  padding: 5px 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-transform: uppercase;
  color: white;
}

.navigation__hamburger-ico {
  width: 40px;
  height: 30px;
  background-color: transparent;
  border: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.navigation__hamburger-ico span {
  display: block;
  height: 4px;
  width: 40px;
  background-color: white;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

.navigation__hamburger-ico--active span:nth-child(1) {
  -webkit-transform: translateY(13px) rotate(45deg);
          transform: translateY(13px) rotate(45deg);
}

.navigation__hamburger-ico--active span:nth-child(2) {
  opacity: 0;
}

.navigation__hamburger-ico--active span:nth-child(3) {
  -webkit-transform: translateY(-13px) rotate(-45deg);
          transform: translateY(-13px) rotate(-45deg);
}

.navigation__list {
  -webkit-transition: max-height 0.5s linear;
  transition: max-height 0.5s linear;
  max-height: 0;
  padding: 0 20px;
  list-style: none;
}

.navigation__list--active {
  max-height: 400px;
  display: block;
}

.navigation__item {
  padding: 15px 0;
  color: white;
}

.navigation__link {
  color: white;
}

.navigation__logo {
  display: block;
  margin: 20px auto;
  width: 100%;
  background-color: white;
  text-align: center;
}

.navigation__logo svg {
  margin: 0 auto;
  width: 70%;
}

.navigation__chart-apperance {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 60px;
  margin: 10px 0;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border: 1px solid gray;
  padding: 5px 20px;
  color: #a7a2a2;
}

.navigation__chart-apperance svg {
  -webkit-transform: scale(0.8);
          transform: scale(0.8);
}

.navigation__chart-select {
  display: none;
  height: 20px;
}
/*# sourceMappingURL=style.css.map */