html {
  font-size: 10px;
  font-family: Arial, Helvetica, sans-serif;
}

body {
  font-size: 2rem;
}

* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.rotate {
  border-bottom: none;
  -webkit-transition: border 2s;
  transition: border 2s;
}

.header {
  font-size: 1.5rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  background-color: black;
  color: white;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

@media (min-width: 768px) {
  .header {
    -ms-flex-wrap: nowrap;
        flex-wrap: nowrap;
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: flex-end;
  }
}

.header__customer {
  -ms-flex-preferred-size: 100%;
      flex-basis: 100%;
  text-transform: uppercase;
  background-color: white;
  color: #838383;
  text-align: center;
  padding: 20px 0;
  font-size: 1.5rem;
}

@media (min-width: 768px) {
  .header__customer {
    font-size: 1.4rem;
    background-color: black;
    color: white;
    margin: 0 auto 0 5vw;
    -ms-flex-preferred-size: 30%;
        flex-basis: 30%;
    text-align: left;
  }
}

.header__currency {
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  max-width: 70px;
  border-left: 1px solid #838383;
}

.header__currency select {
  background-color: transparent;
  color: white;
  border: none;
  font-size: 1.4rem;
}

.header__currency select option {
  background-color: black;
  color: white;
}

.header__myaccount {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-preferred-size: 65%;
      flex-basis: 65%;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 16px 0;
  border-left: 1px solid #838383;
  border-right: 1px solid #838383;
}

@media (min-width: 768px) {
  .header__myaccount {
    padding: 0;
    -ms-flex-preferred-size: 25%;
        flex-basis: 25%;
    max-width: 200px;
  }
}

.header__myaccount p {
  margin-left: 15px;
  text-transform: uppercase;
}

.header__myaccount svg {
  -webkit-transform: scale(0.7);
          transform: scale(0.7);
}

.header__search {
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media (min-width: 768px) {
  .header__search {
    max-width: 50px;
    margin-right: 5vw;
    border-right: 1px solid #838383;
  }
}

.header__search svg {
  -webkit-transform: scale(0.6);
          transform: scale(0.6);
}

.header__search input {
  display: none;
  -ms-flex-preferred-size: 80%;
      flex-basis: 80%;
  padding: 5px;
}

.navigation {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: stretch;
      -ms-flex-align: stretch;
          align-items: stretch;
  margin: 0 5vw;
  max-width: 100%;
}

@media (min-width: 768px) {
  .navigation {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 1fr 1fr 1fr;
        grid-template-columns: 1fr 1fr 1fr;
    -ms-grid-rows: auto auto auto;
        grid-template-rows: auto auto auto;
        grid-template-areas: "logo .  chart" "logo .  chart" "menu  menu menu";
  }
}

@media (min-width: 1024px) {
  .navigation {
    -ms-grid-columns: 1fr 1fr 1fr 1fr;
        grid-template-columns: 1fr 1fr 1fr 1fr;
    -ms-grid-rows: auto;
        grid-template-rows: auto;
        grid-template-areas: "logo menu menu chart";
  }
}

.navigation__logo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 100%;
  background-color: white;
  grid-area: logo;
}

@media (min-width: 768px) {
  .navigation__logo {
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
  }
}

.navigation__logo svg {
  width: 100%;
  max-width: 170px;
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
}

@media (min-width: 768px) {
  .navigation__logo svg {
    -webkit-transform: scale(1.4);
            transform: scale(1.4);
    margin-left: 30px;
  }
}

.navigation__menu {
  width: 100%;
  -webkit-box-ordinal-group: 3;
      -ms-flex-order: 2;
          order: 2;
  background-color: #FD926D;
  overflow: hidden;
  grid-area: menu;
  margin-top: 10px;
}

@media (min-width: 1024px) {
  .navigation__menu {
    background: white;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: flex-end;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}

.navigation__hamburger {
  height: 50px;
  padding: 5px 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-transform: uppercase;
  color: white;
}

@media (min-width: 1024px) {
  .navigation__hamburger {
    display: none;
  }
}

.navigation__hamburger-ico {
  width: 40px;
  height: 25px;
  background-color: transparent;
  border: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-transform: translateX(10px);
          transform: translateX(10px);
}

.navigation__hamburger-ico span {
  display: block;
  height: 4px;
  width: 30px;
  background-color: white;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

.navigation__hamburger-ico--active span:nth-child(1) {
  -webkit-transform: translateY(11px) rotate(45deg);
          transform: translateY(11px) rotate(45deg);
}

.navigation__hamburger-ico--active span:nth-child(2) {
  opacity: 0;
}

.navigation__hamburger-ico--active span:nth-child(3) {
  -webkit-transform: translateY(-11px) rotate(-45deg);
          transform: translateY(-11px) rotate(-45deg);
}

.navigation__list {
  -webkit-transition: max-height 0.5s linear;
  transition: max-height 0.5s linear;
  max-height: 0;
  padding: 0 20px;
  list-style: none;
  margin-right: 30px;
}

@media (min-width: 1024px) {
  .navigation__list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    max-height: 60px;
    background: white;
  }
}

.navigation__list--active {
  max-height: 400px;
  display: block;
}

.navigation__item {
  padding: 15px 0;
  margin: 0 10px;
  position: relative;
}

.navigation__item .navigation__link {
  color: white;
  display: block;
}

@media (min-width: 1024px) {
  .navigation__item .navigation__link {
    font-size: 1.8rem;
    color: black;
    text-decoration: none;
  }
}

.navigation__item .navigation__dropdown {
  position: fixed;
  display: none;
  list-style: none;
  background-color: white;
  padding: 10px 10px;
  border: 1px solid black;
  border-top: none;
}

.navigation__item .navigation__dropdown .navigation__dropdown-item {
  margin: 10px 0;
}

.navigation__item .navigation__dropdown .navigation__dropdown-item a {
  list-style: none;
  color: black;
  text-decoration: none;
}

.navigation__item:hover .navigation__dropdown {
  display: block;
}

@media (min-width: 768px) {
  .navigation__chart {
    grid-area: chart;
    -ms-flex-item-align: center;
        -ms-grid-row-align: center;
        align-self: center;
  }
}

.navigation__chart-apperance {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 50px;
  max-width: 300pxpx;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border: 1px solid gray;
  padding: 5px 10px;
  color: #a7a2a2;
  margin-left: auto;
  -ms-flex-item-align: center;
      align-self: center;
  font-size: 1.6rem;
  text-transform: uppercase;
}

@media (min-width: 768px) {
  .navigation__chart-apperance {
    height: 40px;
  }
}

.navigation__chart-apperance svg {
  -webkit-transform: scale(0.5);
          transform: scale(0.5);
}

@media (min-width: 768px) {
  .navigation__chart-apperance svg {
    -webkit-transform: scale(0.5) translateX(-20px);
            transform: scale(0.5) translateX(-20px);
  }
}

.navigation__chart-select {
  display: none;
  font-size: 1.6rem;
}

@media (min-width: 768px) {
  .navigation__chart-select {
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    height: 50px;
    max-width: 300pxpx;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    border: 1px solid gray;
    padding: 5px 10px;
    color: #a7a2a2;
    margin-left: auto;
    border-bottom: none;
  }
}

@media (min-width: 768px) and (min-width: 768px) {
  .navigation__chart-select {
    height: 40px;
  }
}

.contact {
  width: 90%;
  margin: 10px auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

@media (min-width: 768px) {
  .contact {
    display: none;
  }
}

.contact__email {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  background: #EDEDED;
  height: 50px;
}

.contact__email .contact__input {
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  height: 100%;
  border: none;
  background: transparent;
  padding: 10px 20px;
  font-size: 1.9rem;
  font-style: italic;
}

.contact__button {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 70px;
          flex: 1 1 70px;
  max-width: 80px;
  border: none;
  background: #FD926D;
  color: white;
  font-size: 3rem;
  font-weight: 900;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-bottom: 6px solid #DD6B44;
  -webkit-transition: border 2s;
  transition: border 2s;
}

.contact__button svg {
  -webkit-transform: scale(0.6);
          transform: scale(0.6);
}

.contact__socials {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  margin: 10px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media (min-width: 768px) {
  .contact__socials {
    display: none;
  }
}

.contact__socials p {
  display: inline;
  font-size: 1.5rem;
}

.contact__socials .social__links {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 50px;
  background-color: #eee;
  height: 50px;
}

.contact__socials .social__links:first-of-type {
  margin-left: 20px;
}

.contact__socials .social__links svg {
  -webkit-transform: scale(0.6);
          transform: scale(0.6);
}

.rotate {
  border-bottom: none;
  -webkit-transition: border 2s;
  transition: border 2s;
}

.shop-chart {
  width: 100%;
  background: #FD926D;
}

.shop-chart__menu {
  width: 100%;
  font-size: 1.9rem;
  padding: 15px 10px;
  color: white;
  text-transform: uppercase;
  background: url(/img/ico/Rectangle.svg) no-repeat 95% 20px, #F4845D;
  background-size: 20px;
  -webkit-transition: all ease 0.5s;
  transition: all ease 0.5s;
  margin-bottom: 20px;
}

.shop-chart .main-list__main-li {
  list-style: none;
}

.shop-chart .inside-menu {
  display: block;
  height: 0;
  overflow: hidden;
  list-style: none;
  -webkit-transition: all ease 0.5s;
  transition: all ease 0.5s;
}

.shop-chart .inside-menu.open {
  height: 130px;
}

.shop-chart .inside-menu li {
  margin: 10px 0;
}

.shop-chart__gallery {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  position: relative;
  padding-bottom: 120px;
  margin: 20px 0;
}

.shop-chart__gallery .shop-chart__item {
  width: 45%;
  margin: 10px 0;
}

.shop-chart__gallery .shop-chart__item .photo {
  display: block;
  width: 100%;
  -o-object-fit: contain;
     object-fit: contain;
  background-color: white;
}

.shop-chart__gallery .shop-chart__item .shop-chart__photo {
  width: 100%;
}

.shop-chart__gallery .shop-chart__item .shop-chart__pricing {
  background: #F7F7F7;
  width: 100%;
  height: 130px;
}

.shop-chart__gallery .shop-chart__item .shop-chart__pricing .dress-name {
  margin-bottom: 10px;
  text-align: center;
  font-size: 1.6rem;
}

.shop-chart__gallery .shop-chart__item .shop-chart__pricing .dress-price {
  text-align: center;
  font-size: 2.4rem;
}

.shop-chart__gallery .shop-chart__item .shop-chart__pricing .shop-chart__button {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: #FD926D;
  width: 90%;
  margin: 5px auto;
  font-size: 1.1rem;
  color: white;
  padding: 5px 5px;
  border: none;
  border-bottom: 6px solid #DD6B44;
  text-transform: uppercase;
}

.shop-chart__gallery .shop-chart__item .shop-chart__pricing .shop-chart__button svg {
  -webkit-transform: scale(0.4);
          transform: scale(0.4);
  margin-left: 10px;
}

.shop-chart__gallery .shop-chart__item .shop-chart__pricing .cliced {
  border: none;
  -webkit-transform: translateY(8px);
          transform: translateY(8px);
}

.shop-chart__gallery .gallery__more {
  position: absolute;
  bottom: 20px;
  width: 200px;
  height: 60px;
  font-size: 1.8rem;
  background-color: black;
  color: white;
  text-transform: uppercase;
  border: none;
}

.discount {
  text-align: center;
  position: relative;
  padding-top: 70px;
}

.discount .discount__price {
  position: absolute;
  width: 150px;
  top: 10px;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  z-index: 99;
}

.discount .shop-chart__gallery-discount {
  padding-bottom: 0px;
}

.footer {
  background-color: black;
  color: white;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 20px 5px;
}

.footer .footer__hamburger-ico {
  width: 40px;
  height: 25px;
  background-color: transparent;
  border: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-transform: translateX(10px);
          transform: translateX(10px);
}

.footer .footer__hamburger-ico span {
  display: block;
  height: 4px;
  width: 30px;
  background-color: white;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

.footer .footer__hamburger-ico--active span:nth-child(1) {
  -webkit-transform: translateY(11px) rotate(45deg);
          transform: translateY(11px) rotate(45deg);
}

.footer .footer__hamburger-ico--active span:nth-child(2) {
  opacity: 0;
}

.footer .footer__hamburger-ico--active span:nth-child(3) {
  -webkit-transform: translateY(-11px) rotate(-45deg);
          transform: translateY(-11px) rotate(-45deg);
}

.footer .footer__copyrights {
  text-align: right;
}

.footer .footer__copyrights .footer__text {
  font-size: 1.6rem;
  margin-right: 10px;
  color: #707070;
}
/*# sourceMappingURL=style.css.map */