html {
    font-size: 10px;
    font-family: Arial, Helvetica, sans-serif;
}

body {
    font-size: 2rem;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.main-wrapper {
    @include tablet {}
}