.contact {
    width: 90%;
    margin: 10px auto;
    display: flex;
    flex-wrap: wrap;

    @include tablet {
        display: none;
    }

    &__email {
        width: 100%;
        display: flex;
        justify-content: space-between;
        background: #EDEDED;
        height: 60px;

        .contact__input {
            flex-grow: 1;
            height: 100%;
            border: none;
            background: transparent;
            padding: 10px 20px;
            font-size: 1.9rem;
            font-style: italic;
        }
    }

    &__button {
        flex: 1 1 70px;
        max-width: 80px;
        border: none;
        background: $main-orange;
        color: white;
        font-size: 3rem;
        font-weight: 900;
        display: flex;
        justify-content: center;
        align-items: center;
        border-bottom: 8px solid #DD6B44;
        transition: border 2s;

        svg {
            transform: scale(0.8);
        }
    }

    &__socials {
        display: flex;
        width: 100%;
        margin: 10px;
        justify-content: center;
        align-items: center;

        p {
            display: inline;
            font-size: 1.5rem;
            // margin-right: 10px;
        }

        .social__links {
            display: flex;
            justify-content: center;
            align-items: center;
            width: 60px;
            background-color: #eee;
            height: 60px;

            &:first-of-type {
                margin-left: 20px;
            }
        }

    }

}

.rotate {
    border-bottom: none;
    transition: border 2s;
}