.header {
    font-size: 1.5rem;
    display: flex;
    background-color: black;
    color: white;
    flex-wrap: wrap;
    justify-content: space-between;

    @include tablet {
        flex-wrap: nowrap;
        justify-content: flex-end;
    }

    &__customer {
        flex-basis: 100%;
        text-transform: uppercase;
        background-color: white;
        color: #838383;
        text-align: center;
        padding: 20px 0;
        font-size: 1.5rem;

        @include tablet {
            font-size: 1.4rem;
            background-color: black;
            color: white;
            margin: 0 auto 0 5vw;
            flex-basis: 30%;
            text-align: left;
        }
    }

    &__currency {
        flex-grow: 1;
        display: flex;
        justify-content: center;
        align-items: center;
        max-width: 70px;
        border-left: 1px solid #838383;

        select {
            background-color: transparent;
            color: white;
            border: none;
            font-size: 1.4rem;

            option {
                background-color: black;
                color: white;
            }
        }
    }

    &__myaccount {
        display: flex;
        flex-basis: 65%;
        align-items: center;
        justify-content: center;
        padding: 16px 0;
        border-left: 1px solid #838383;
        border-right: 1px solid #838383;

        @include tablet {
            padding: 0;
            flex-basis: 25%;
            max-width: 200px;
        }

        p {
            margin-left: 15px;
            text-transform: uppercase;
        }

        svg {
            transform: scale(0.7);
        }
    }

    &__search {
        flex-grow: 1;
        display: flex;
        justify-content: center;
        align-items: center;

        @include tablet {
            max-width: 50px;
            margin-right: 5vw;
            border-right: 1px solid #838383;
        }

        svg {
            transform: scale(0.6);
        }

        input {
            display: none;
            flex-basis: 80%;
            padding: 5px;
        }
    }

}