.navigation {
    display: flex;
    flex-direction: column;
    align-items: stretch;
    margin: 0 auto;
    width: 95%;


    &__menu {
        width: 100%;
        order: 2;
        background-color: #FD926D;

    }

    &__hamburger {
        height: 60px;
        padding: 5px 20px;
        display: flex;
        justify-content: space-between;
        align-items: center;
        text-transform: uppercase;
        color: white;
    }

    &__hamburger-ico {
        width: 40px;
        height: 30px;
        background-color: transparent;
        border: none;
        display: flex;
        flex-direction: column;
        justify-content: space-between;

        span {
            display: block;
            height: 4px;
            width: 40px;
            background-color: white;
            transition: 0.5s;
        }

        &--active {

            span:nth-child(1) {
                transform: translateY(13px) rotate(45deg);
            }

            span:nth-child(2) {
                opacity: 0;
            }

            span:nth-child(3) {
                transform: translateY(-13px) rotate(-45deg);
            }
        }
    }


    &__list {
        display: none;
    }

    &__logo {
        display: block;
        margin: 20px auto;
        width: 100%;
        background-color: white;
        text-align: center;

        svg {
            margin: 0 auto;
            width: 70%;
        }
    }

    &__chart-apperance {
        width: 100%;
        display: flex;
        height: 60px;
        margin: 10px 0;
        justify-content: space-between;
        align-items: center;
        border: 1px solid gray;
        padding: 5px 20px;
        color: rgb(167, 162, 162);

        svg {
            transform: scale(0.8);
        }
    }

    &__chart-select {
        display: none;
        height: 20px;
    }
}