.shop-chart {
    width: 100%;
    background: $main-orange;

    &__menu {
        width: 100%;
        font-size: 1.9rem;
        padding: 15px 10px;
        color: white;
        text-transform: uppercase;
        background: url(/img/ico/Rectangle.svg) no-repeat 95% 20px, #F4845D;
        background-size: 20px;
        transition: all ease 0.5s;
        margin-bottom: 20px;
    }

    .main-list__main-li {
        list-style: none;
    }

    .inside-menu {
        display: block;
        height: 0;
        overflow: hidden;
        list-style: none;
        transition: all ease 0.5s;

        &.open {
            height: 130px;
        }

        li {
            margin: 10px 0;
        }
    }

    &__gallery {
        display: flex;
        justify-content: space-evenly;
        flex-wrap: wrap;


        .shop-chart__item {
            width: 45%;

            .photo {
                display: block;
                width: 100%;
                object-fit: contain;
                background-color: white;
            }

            .shop-chart__photo {
                width: 100%;
            }

            .shop-chart__pricing {
                background: #F7F7F7;
                width: 100%;
                height: 130px;

                .dress-name {
                    margin-bottom: 10px;
                    text-align: center;
                    font-size: 1.6rem;
                }

                .dress-price {
                    text-align: center;
                    font-size: 2.4rem;
                }

                .shop-chart__button {
                    display: flex;
                    justify-content: flex-end;
                    align-items: center;
                    background-color: #FD926D;
                    width: 90%;
                    margin: 5px auto;
                    font-size: 1.4rem;
                    color: white;
                    padding: 5px 5px;
                    border: none;
                    border-bottom: 6px solid #DD6B44;
                    text-transform: uppercase;

                    svg {
                        transform: scale(0.4);
                        margin-left: 10px;
                    }
                }

                .cliced {
                    border: none;
                    transform: translateY(8px);
                }
            }
        }

        .gallery__more {
            width: 200px;
            height: 60px;
            margin: 20px 0;
            font-size: 1.8rem;
            background-color: black;
            color: white;
            text-transform: uppercase;
            border: none;
        }
    }
}