//Colors
$main-orange: #FD926D;

//Media-Queries
$tablet-width:768px;
$desktop-width:1024px;

@mixin tablet {
    @media (min-width:#{$tablet-width}) {
        @content;
    }
}

@mixin desktop {
    @media (min-width:#{$desktop-width}) {
        @content;
    }
}

@mix